.slider {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slider-item {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.slider-item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.hidden-slide {
  visibility: hidden;
}

.fas.fa-spinner.fa-spin {
  font-size: 50px;
  color: #bbbbbb;
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
}

.slider-rightArrow,
.slider-leftArrow {
  font-size: 50px;
  z-index: 3;
  cursor: pointer;
  color: #bbbbbb;
  position: absolute;
  top: 47%;
  opacity: 0.5;
}

.slider-rightArrow:hover,
.slider-leftArrow:hover {
  opacity: 1;
}

.slider-rightArrow {
  right: 5%;
}

.slider-leftArrow {
  left: 5%;
}

.slider-leftToRightAnimation,
.slider-rightToLeftAnimation {
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  position: relative;
  z-index: 2;
}

.slider-leftToRightAnimation {
  animation-name: leftToRight;
}

@keyframes leftToRight {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}

.slider-rightToLeftAnimation {
  animation-name: rightToLeft;
}

@keyframes rightToLeft {
  from {
    left: 100%;
  }

  to {
    left: 0%;
  }
}